@use '/src/styles/vuetify/settings.scss';
@use '/src/styles/vuetify/typography-v2' as typo-v2;
@use '/src/styles/vuetify/borders-v2' as borders-v2;
@use '/src/styles/vuetify/sizes-v2' as sizes-v2;
@use '/src/styles/vuetify/spacing-v2' as spacing-v2;

.rc-ses-btn-v2 {
  border-radius: borders-v2.rc-radius-v2('button-radius-v2');
  @include typo-v2.rc-typography-v2('button-compact-v2');
  padding-left: spacing-v2.rc-spacing-v2('spacing-16-v2');
  padding-right: spacing-v2.rc-spacing-v2('spacing-16-v2');
  text-transform: none;

  .v-btn__content {
    text-transform: none;
  }

  &--loading {
    pointer-events: none !important;
    cursor: default !important;

    .v-icon,
    .v-btn__loader {
      animation: rcSesSpin 1s linear infinite !important;
    }
  }

  &--text-loading {
    &.rc-ses-btn-v2--regular {
      min-width: sizes-v2.rc-size-v2('button-loading-min-width-regular-v2');
    }

    &.rc-ses-btn-v2--small {
      min-width: sizes-v2.rc-size-v2('button-loading-min-width-small-v2');
    }
  }

  .v-icon {
    @include sizes-v2.rc-icon-size-v2('icon-medium-v2');
  }

  .v-btn__prepend {
    margin-inline-end: spacing-v2.rc-spacing-v2('badge-icon-text-gap-v2') !important;
    margin-inline-start: 0 !important;
  }

  .v-btn__append {
    margin-inline-start: spacing-v2.rc-spacing-v2('badge-icon-text-gap-v2') !important;
    margin-inline-end: 0 !important;
  }

  &:is(:hover, :focus-visible) {
    > .v-btn__overlay {
      opacity: 0 !important;
    }
  }

  &:focus-visible {
    border-color: rgb(var(--v-theme-border-focus-actual-v2)) !important;

    &::after {
      border-color: rgb(var(--v-theme-border-focus-actual-v2)) !important;
      opacity: 1 !important;
    }
  }

  &--small {
    height: sizes-v2.rc-size-v2('button-height-small-v2') !important;
    padding-top: spacing-v2.rc-spacing-v2('spacing-8-v2') !important;
    padding-bottom: spacing-v2.rc-spacing-v2('spacing-8-v2') !important;
  }

  &--regular {
    height: sizes-v2.rc-size-v2('button-height-regular-v2') !important;
    padding-top: spacing-v2.rc-spacing-v2('spacing-12-v2') !important;
    padding-bottom: spacing-v2.rc-spacing-v2('spacing-12-v2') !important;
  }

  &--icon-only {
    width: sizes-v2.rc-size-v2('button-height-regular-v2') !important;
    min-width: sizes-v2.rc-size-v2('button-height-regular-v2') !important;
    max-width: sizes-v2.rc-size-v2('button-height-regular-v2') !important;
    padding: 0 !important;

    &.rc-ses-btn-v2--small {
      width: sizes-v2.rc-size-v2('button-height-small-v2') !important;
      min-width: sizes-v2.rc-size-v2('button-height-small-v2') !important;
      max-width: sizes-v2.rc-size-v2('button-height-small-v2') !important;
    }
  }

  &--primary {
    background-color: rgb(var(--v-theme-primary-bg-v2)) !important;
    color: rgb(var(--v-theme-primary-text-v2)) !important;
    &:hover {
      background-color: rgb(var(--v-theme-primary-bg-hover-v2)) !important;
    }

    &:disabled {
      background-color: rgb(var(--v-theme-primary-bg-disabled-v2)) !important;
      color: rgb(var(--v-theme-primary-text-disabled-v2)) !important;
      opacity: unset;
      .v-btn__overlay {
        background-color: unset;
      }
    }
  }

  &--secondary {
    background-color: rgb(var(--v-theme-secondary-bg-v2)) !important;
    border: 1px solid rgb(var(--v-theme-secondary-border-v2));
    color: rgb(var(--v-theme-secondary-text-v2)) !important;
    &:hover {
      background-color: rgb(var(--v-theme-secondary-bg-hover-v2)) !important;
    }

    &:disabled {
      background-color: rgb(var(--v-theme-secondary-bg-v2)) !important;
      border-color: rgb(var(--v-theme-text-disabled-v2)) !important;
      color: rgb(var(--v-theme-text-disabled-v2)) !important;
      opacity: unset;
      .v-btn__overlay {
        background-color: unset;
      }
    }
  }

  &--error {
    background-color: rgb(var(--v-theme-destructive-bg-v2)) !important;
    color: rgb(var(--v-theme-destructive-text-v2)) !important;
    &:hover {
      background-color: rgb(var(--v-theme-destructive-bg-hover-v2)) !important;
    }

    &:disabled {
      background-color: rgb(var(--v-theme-primary-bg-disabled-v2)) !important;
      color: rgb(var(--v-theme-text-disabled-v2)) !important;
      opacity: unset;
      .v-btn__overlay {
        background-color: unset;
      }
    }
  }

  &--link {
    color: rgb(var(--v-theme-link-text-v2)) !important;
    &:hover {
      color: rgb(var(--v-theme-link-text-hover-v2)) !important;
      background-color: unset !important;
    }

    &:disabled {
      color: rgb(var(--v-theme-text-disabled-v2)) !important;
      opacity: unset;
      .v-btn__overlay {
        background-color: unset;
      }
    }
  }
}

@keyframes rcSesSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
